critical_edition.rnc

default namespace = "http://www.tei-c.org/ns/1.0"

start =
  element TEI {
    attribute type { xsd:NCName },
    attribute xml:id { xsd:NCName },
    attribute xml:lang { xsd:NCName },
    element teiHeader {
      element fileDesc {
        element titleStmt {
          title+,
          editor+,
          element respStmt {
            element resp { text }+,
            element persName {
              attribute ref { xsd:NMTOKEN },
              (name | (forename, surname))
            }
          }*
        },
        element publicationStmt {
          element authority { xsd:NCName },
          pubPlace,
          idno,
          element availability {
            element licence {
              attribute target { xsd:anyURI },
              p+
            }
          },
          date
        },
        element sourceDesc {
          element listWit {
            element witness {
              attribute xml:id { xsd:NCName },
              (text
               | abbr
               | bibl
               | element msDesc {
                   element msIdentifier {
                     element settlement { text },
                     element institution { text }?,
                     element repository { text }?,
                     element collection { text }?,
                     idno
                   },
                   element msContents {
                     element msItem {
                       author?,
                       title?,
                       element colophon { quote*, note? }?
                     }
                   }?,
                   element physDesc {
                     (element objectDesc { p }
                      | p+),
                     element handDesc {
                       p
                       | element handNote {
                           attribute scriptRef { text },
                           attribute xml:id { xsd:NCName },
                           abbr?,
                           p*
                         }
                     }?
                   }?,
                   element history { p }?
                 })+
            }+
          },
          element listBibl {
            element biblStruct {
              attribute corresp { xsd:anyURI },
              attribute type { xsd:NCName },
              attribute xml:id { xsd:NCName },
              element monogr {
                (author | editor | title)+,
                element imprint {
                  pubPlace,
                  element publisher { text },
                  date
                }
              }
            }+
          }?
        }
      },
      element encodingDesc {
        element projectDesc { p+ },
        (element editorialDecl {
           element correction { p },
           element normalization { p+ },
           element punctuation { p },
           element interpretation { p }?
         },
         element samplingDecl { p })?,
        element schemaRef {
          attribute key { xsd:NCName },
          attribute type { xsd:NCName },
          attribute url { xsd:anyURI }
        },
        element variantEncoding {
          attribute location { xsd:NCName },
          attribute method { xsd:NCName }
        }?,
        element listPrefixDef {
          element prefixDef {
            attribute ident { xsd:NCName },
            attribute matchPattern { text },
            attribute replacementPattern { xsd:anyURI },
            p
          }+
        }?
      },
      element profileDesc {
        element langUsage {
          element language {
            attribute ident { xsd:NCName },
            text
          }+
        },
        element textClass {
          element keywords { term }
        }?
      },
      element revisionDesc {
        element change {
          attribute status { xsd:NCName }?,
          attribute when { xsd:date },
          attribute who { xsd:NMTOKEN },
          text
        }+
      }
    },
    element text {
      attribute xml:lang { xsd:NCName },
      attribute xml:space { xsd:NCName },
      element body { \div+ }
    }
  }
title =
  element title {
    attribute level { xsd:NCName }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    text
  }
editor =
  element editor {
    attribute ref { xsd:NMTOKEN }?,
    (name | (forename, surname))
  }
name = element name { text }
forename = element forename { text }
surname = element surname { xsd:NCName }
pubPlace = element pubPlace { text }
idno =
  element idno {
    attribute type { xsd:NCName }?,
    text
  }
p =
  element p {
    attribute n { xsd:integer }?,
    attribute rend { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | abbr
     | app
     | bibl
     | foreign
     | g
     | hi
     | l
     | listApp
     | note
     | num
     | pb
     | ptr
     | q
     | quote
     | ref
     | seg
     | sic
     | supplied
     | surplus
     | term
     | title)+
  }
date =
  element date {
    attribute from { xsd:integer }?,
    attribute to { xsd:integer }?,
    attribute when { xsd:integer }?,
    xsd:NMTOKEN
  }
abbr =
  element abbr {
    attribute type { xsd:NCName }?,
    (text | hi)+
  }
bibl =
  element bibl {
    (text
     | ptr
     | element citedRange {
         attribute unit { xsd:NCName }?,
         text
       })+
  }
author = element author { (text | forename | name | surname)+ }
quote =
  element quote {
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | app
     | del
     | foreign
     | g
     | gap
     | lg
     | listApp
     | space
     | supplied
     | term
     | unclear
     | element choice {
         element orig { xsd:NCName },
         element corr { xsd:NCName }
       })+
  }
note =
  element note {
    attribute copyOf { xsd:NMTOKEN }?,
    attribute corresp { xsd:anyURI }?,
    attribute rend { xsd:NCName }?,
    attribute sameAs { xsd:anyURI }?,
    attribute type { xsd:NCName }?,
    (text
     | abbr
     | bibl
     | foreign
     | hi
     | lg
     | ptr
     | q
     | ref
     | seg
     | sic
     | title)+
  }
term =
  element term {
    attribute xml:lang { text }?,
    (text | app | pb | sic)+
  }
\div =
  element div {
    attribute met { text }?,
    attribute n { xsd:NMTOKEN }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    (app
     | \div
     | lg
     | listApp
     | note
     | p
     | quote
     | element ab {
         attribute type { xsd:NCName }?,
         attribute xml:id { xsd:NCName }?,
         attribute xml:lang { xsd:NCName }?,
         (text | app | foreign | hi | pb | supplied)+
       }
     | element head {
         attribute type { xsd:NCName }?,
         attribute xml:lang { xsd:NCName }?,
         (text | foreign | hi)+
       })*
  }
listApp =
  element listApp {
    attribute type { xsd:NCName },
    app+
  }
seg =
  element seg {
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    (text | del | foreign | lg | unclear)+
  }
q = element q { (text | foreign)+ }
ref =
  element ref {
    attribute target { xsd:anyURI }?,
    text
  }
pb =
  element pb {
    attribute edRef { text }?,
    attribute n { xsd:NMTOKEN }?
  }
sic = element sic { (text | app | foreign)+ }
l =
  element l {
    attribute enjamb { xsd:NCName }?,
    attribute n { xsd:NMTOKEN }?,
    attribute real { text }?,
    (text
     | app
     | foreign
     | g
     | hi
     | note
     | pb
     | sic
     | supplied
     | surplus)+
  }
foreign =
  element foreign {
    attribute xml:lang { xsd:NCName }?,
    (text | add | app | g | hi | pb | term | unclear)+
  }
ptr =
  element ptr {
    attribute rend { xsd:NCName }?,
    attribute target { text }
  }
supplied =
  element supplied {
    attribute evidence { xsd:NCName }?,
    attribute reason { xsd:NCName },
    (text | gap | lg | listApp | num | seg | term)+
  }
surplus = element surplus { (text | term)+ }
num =
  element num {
    attribute value { xsd:integer },
    xsd:NMTOKEN
  }
g =
  element g {
    attribute type { xsd:NCName }?,
    text
  }
hi =
  element hi {
    attribute rend { xsd:NCName },
    (text | app)+
  }
app =
  element app {
    attribute loc { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    element lem {
      attribute rend { xsd:NCName }?,
      attribute resp { xsd:NCName }?,
      attribute type { xsd:NCName }?,
      attribute wit { text }?,
      attribute xml:id { xsd:NCName }?,
      (text
       | abbr
       | app
       | del
       | foreign
       | hi
       | l
       | lg
       | num
       | p
       | pb
       | seg
       | sic
       | supplied
       | surplus
       | term)+
    }*,
    (note
     | element rdg {
         attribute cause { xsd:NCName }?,
         attribute corresp { xsd:NCName }?,
         attribute rend { xsd:NCName }?,
         attribute type { xsd:NCName }?,
         attribute varSeq { xsd:integer }?,
         attribute wit { text },
         (text
          | abbr
          | add
          | del
          | foreign
          | g
          | gap
          | num
          | pb
          | seg
          | space
          | supplied
          | unclear
          | element lacunaEnd { empty }
          | element lacunaStart { empty }
          | element lb {
              attribute break { xsd:NCName }?,
              attribute n { xsd:NMTOKEN }?
            }
          | element locus {
              attribute from { xsd:NMTOKEN },
              attribute to { xsd:NMTOKEN },
              attribute type { xsd:NCName }
            }
          | element span {
              attribute type { xsd:NCName }
            }
          | element subst { del, add })+
       }
     | element witDetail {
         attribute type { xsd:NCName },
         attribute wit { text }
       })*
  }
space =
  element space {
    attribute type { xsd:NCName }
  }
lg =
  element lg {
    attribute met { xsd:NCName }?,
    attribute n { xsd:integer }?,
    attribute rend { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    app?,
    (l | note)+
  }
del =
  element del {
    attribute rend { xsd:NCName }?,
    (text | gap | unclear)+
  }
gap =
  element gap {
    attribute precision { xsd:NCName }?,
    attribute quantity { xsd:integer }?,
    attribute reason { xsd:NCName }?,
    attribute unit { xsd:NCName }?
  }
unclear =
  element unclear {
    attribute reason { xsd:NCName }?,
    text
  }
add =
  element add {
    attribute place { xsd:NCName },
    attribute rend { xsd:NCName }?,
    text
  }
