global.rnc

default namespace = "http://www.tei-c.org/ns/1.0"

start =
  element TEI {
    attribute corresp { text }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    element teiHeader {
      attribute xml:lang { xsd:NCName }?,
      element fileDesc {
        titleStmt,
        publicationStmt,
        element sourceDesc {
          (element biblFull {
             titleStmt,
             element editionStmt { p }?,
             publicationStmt
           }
           | element listWit {
               element witness {
                 attribute xml:id { xsd:NCName },
                 (text | abbr | bibl | msDesc)+
               }+
             })?,
          (listBibl | msDesc | p)?
        }
      },
      element encodingDesc {
        element projectDesc { p+ },
        (element editorialDecl {
           element correction { p },
           element normalization { p+ },
           element punctuation { p },
           element interpretation { p }?
         },
         element samplingDecl { p })?,
        element schemaRef {
          attribute key { xsd:NCName },
          attribute type { xsd:NCName },
          attribute url { xsd:anyURI }
        }?,
        element variantEncoding {
          attribute location { xsd:NCName },
          attribute method { xsd:NCName }
        }?,
        element listPrefixDef {
          element prefixDef {
            attribute ident { xsd:NCName },
            attribute matchPattern { text },
            attribute replacementPattern { xsd:anyURI },
            p
          }+
        }?,
        element tagsDecl {
          attribute partial { xsd:boolean },
          element rendition {
            attribute scheme { xsd:NCName },
            attribute xml:id { xsd:NCName },
            text
          }+
        }?
      }*,
      element profileDesc {
        element langUsage {
          element language {
            attribute ident { xsd:NCName },
            text
          }+
        },
        element textClass {
          element keywords { term }
        }?
      }?,
      element revisionDesc {
        element change {
          attribute status { xsd:NCName }?,
          attribute when { xsd:NMTOKEN },
          attribute who { xsd:anyURI },
          text
        }+
      }
    },
    element facsimile {
      element graphic {
        attribute url { xsd:anyURI },
        attribute xml:id { xsd:NCName }?,
        desc?
      }+
    }?,
    element text {
      attribute xml:lang { xsd:NCName }?,
      attribute xml:space { xsd:NCName },
      element body { ab+ | \div+ }
    }
  }
titleStmt =
  element titleStmt {
    title+,
    author?,
    editor*,
    element respStmt {
      element resp { text }+,
      persName+
    }*
  }
publicationStmt =
  element publicationStmt {
    element authority { (text | note)+ },
    pubPlace*,
    idno,
    element availability {
      element licence {
        attribute target { xsd:anyURI },
        p+
      }
    },
    date?
  }
abbr =
  element abbr {
    attribute type { xsd:NCName }?,
    (text
     | choice
     | foreign
     | hi
     | lb
     | reg
     | space
     | supplied
     | unclear)+
  }
bibl =
  element bibl {
    attribute n { text }?,
    attribute rend { xsd:NCName }?,
    (text
     | author
     | bibl
     | date
     | foreign
     | hi
     | note
     | ptr
     | ref
     | seg
     | element citedRange {
         attribute unit { xsd:NCName }?,
         (text | foreign | supplied)+
       })+
  }
msDesc =
  element msDesc {
    element msIdentifier {
      settlement?,
      institution?,
      repository?,
      element collection { text }?,
      idno+,
      element altIdentifier {
        attribute type { xsd:NCName },
        settlement?,
        (institution | repository)?,
        idno,
        note?
      }*
    },
    element msContents {
      (summary
       | element msItem {
           p?,
           author?,
           title?,
           element colophon { quote*, note? }?
         })?
    }?,
    element physDesc {
      (ab
       | element objectDesc {
           p+
           | (element supportDesc {
                element support { p }
              },
              element layoutDesc {
                element layout { p }
              })
         })?,
      element scriptDesc { p }?,
      p*,
      element handDesc {
        ab?,
        p*,
        summary?,
        element handNote {
          attribute scriptRef { text }?,
          attribute xml:id { xsd:NCName },
          (text | abbr | p | supplied)+
        }*
      }?,
      element decoDesc {
        element decoNote { text }
      }?
    }?,
    element history {
      p
      | (element origin {
           element origDate {
             attribute notAfter { xsd:integer },
             attribute notBefore { xsd:integer },
             text
           }
           | element origPlace { text }
         },
         element provenance {
           attribute type { xsd:NCName },
           (text | date | p)+
         }+)
    }?
  }
p =
  element p {
    attribute corresp { text }?,
    attribute n { text }?,
    attribute part { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | abbr
     | add
     | app
     | bibl
     | certainty
     | choice
     | cit
     | corr
     | damage
     | date
     | del
     | expan
     | foreign
     | fw
     | g
     | gap
     | handShift
     | hi
     | l
     | label
     | lb
     | lg
     | \list
     | listApp
     | measure
     | milestone
     | name
     | note
     | num
     | orig
     | pb
     | persName
     | placeName
     | ptr
     | q
     | quote
     | ref
     | reg
     | roleName
     | seg
     | sic
     | space
     | subst
     | supplied
     | surname
     | surplus
     | term
     | title
     | unclear
     | element dimensions {
         element width {
           attribute unit { xsd:NCName },
           xsd:integer
         },
         element height {
           attribute unit { xsd:NCName },
           xsd:integer
         },
         element depth {
           attribute unit { xsd:NCName },
           xsd:integer
         }
       }
     | element material { text }
     | element objectType { xsd:NCName }
     | element rs {
         attribute ana { xsd:NCName }?,
         attribute nymRef { xsd:NCName }?,
         attribute ref { xsd:NMTOKEN }?,
         attribute role { xsd:NCName }?,
         attribute subtype { xsd:NCName }?,
         attribute type { xsd:NCName }?,
         (text | choice | persName | roleName)+
       }
     | element stage {
         attribute rend { xsd:NCName },
         xsd:NCName
       }
     | element unit { xsd:NCName })+
  }
listBibl =
  element listBibl {
    attribute type { xsd:NCName }?,
    (element biblStruct {
       attribute corresp { xsd:anyURI },
       attribute type { xsd:NCName },
       attribute xml:id { xsd:NCName },
       element monogr {
         (author | editor | title)+,
         element imprint {
           pubPlace,
           element publisher { text },
           date
         }
       }
     }*
     | (bibl | listBibl)*)
  }
term =
  element term {
    attribute xml:lang { text }?,
    (text | app | pb | sic)+
  }
desc = element desc { (text | bibl | foreign | ptr)+ }
ab =
  element ab {
    attribute n { text }?,
    attribute part { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { text }?,
    (text
     | abbr
     | add
     | app
     | choice
     | damage
     | del
     | foreign
     | fw
     | g
     | gap
     | hi
     | label
     | lb
     | milestone
     | note
     | num
     | orig
     | pb
     | persName
     | reg
     | roleName
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | unclear)+
  }
\div =
  element div {
    attribute corresp { text }?,
    attribute met { text }?,
    attribute n { text }?,
    attribute rend { xsd:NCName }?,
    attribute rendition { text }?,
    attribute resp { xsd:anyURI }?,
    attribute source { xsd:anyURI }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (ab
     | app
     | \div
     | fw
     | gap
     | label
     | lb
     | lg
     | \list
     | listApp
     | milestone
     | note
     | p
     | pb
     | quote
     | space
     | element head {
         attribute type { xsd:NCName }?,
         attribute xml:lang { xsd:NCName }?,
         (text | foreign | hi)+
       })*,
    listBibl*,
    bibl*
  }
title =
  element title {
    attribute level { xsd:NCName }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text | abbr | foreign | gap | hi | note | supplied)+
  }
author = element author { (text | forename | name | surname)+ }
editor =
  element editor {
    attribute ref { xsd:NMTOKEN }?,
    (text | forename | name | surname)+
  }
persName =
  element persName {
    attribute key { xsd:NCName }?,
    attribute ref { xsd:anyURI }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    (text
     | choice
     | foreign
     | forename
     | gap
     | hi
     | lb
     | name
     | persName
     | placeName
     | roleName
     | sic
     | supplied
     | surname
     | surplus
     | unclear)+
  }
note =
  element note {
    attribute copyOf { xsd:NMTOKEN }?,
    attribute corresp { xsd:anyURI }?,
    attribute rend { xsd:NCName }?,
    attribute resp { xsd:NMTOKEN }?,
    attribute sameAs { xsd:anyURI }?,
    attribute source { xsd:anyURI }?,
    attribute type { xsd:NCName }?,
    (text
     | abbr
     | add
     | bibl
     | choice
     | cit
     | foreign
     | g
     | gap
     | hi
     | lb
     | lg
     | \list
     | note
     | num
     | p
     | ptr
     | q
     | quote
     | ref
     | seg
     | sic
     | supplied
     | title
     | unclear)+
  }
pubPlace = element pubPlace { text }
idno =
  element idno {
    attribute type { xsd:NCName }?,
    text
  }
date =
  element date {
    attribute from { xsd:integer }?,
    attribute notAfter-custom { xsd:integer }?,
    attribute notBefore-custom { xsd:integer }?,
    attribute to { xsd:integer }?,
    attribute when { xsd:NMTOKEN }?,
    (text | num)+
  }
choice = element choice { (corr | orig | reg | sic | unclear)+ }
foreign =
  element foreign {
    attribute xml:lang { xsd:NCName }?,
    (text
     | abbr
     | add
     | app
     | choice
     | foreign
     | fw
     | g
     | gap
     | hi
     | lb
     | milestone
     | note
     | num
     | pb
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | term
     | unclear)+
  }
space =
  element space {
    attribute extent { xsd:NCName }?,
    attribute quantity { xsd:integer }?,
    attribute type { xsd:NCName }?,
    attribute unit { xsd:NCName }?
  }
supplied =
  element supplied {
    attribute cert { xsd:NCName }?,
    attribute evidence { xsd:NCName }?,
    attribute reason { xsd:NCName },
    (text
     | abbr
     | add
     | bibl
     | choice
     | corr
     | del
     | foreign
     | g
     | gap
     | hi
     | lb
     | lg
     | listApp
     | milestone
     | note
     | num
     | persName
     | placeName
     | q
     | quote
     | ref
     | roleName
     | seg
     | sic
     | space
     | supplied
     | term
     | title
     | unclear)+
  }
reg = element reg { (text | abbr | g | hi | lb | supplied | unclear)+ }
unclear =
  element unclear {
    attribute cert { xsd:NCName }?,
    attribute reason { text }?,
    (text | g)+
  }
lb =
  element lb {
    attribute break { xsd:NCName }?,
    attribute n { text }?,
    attribute rend { xsd:NCName }?,
    attribute style { text }?
  }
hi =
  element hi {
    attribute rend { xsd:NCName },
    (text
     | add
     | app
     | choice
     | foreign
     | g
     | gap
     | lb
     | milestone
     | seg
     | supplied
     | surplus
     | unclear)+
  }
ptr =
  element ptr {
    attribute rend { xsd:NCName }?,
    attribute target { text }?
  }
seg =
  element seg {
    attribute cert { xsd:NCName }?,
    attribute met { text }?,
    attribute rend { xsd:NCName }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    (text
     | bibl
     | choice
     | del
     | foreign
     | g
     | gap
     | hi
     | lb
     | lg
     | measure
     | milestone
     | note
     | placeName
     | seg
     | space
     | supplied
     | unclear)+
  }
ref =
  element ref {
    attribute n { xsd:NCName }?,
    attribute target { xsd:anyURI }?,
    (text | ptr | seg | title)+
  }
settlement = element settlement { text }
institution = element institution { text }
repository = element repository { text }
summary =
  element summary { (text | foreign | gap | hi | p | ref | supplied)+ }
quote =
  element quote {
    attribute corresp { xsd:NMTOKEN }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | ab
     | app
     | bibl
     | choice
     | del
     | foreign
     | g
     | gap
     | hi
     | l
     | lg
     | listApp
     | note
     | space
     | supplied
     | term
     | title
     | unclear)+
  }
del =
  element del {
    attribute rend { xsd:NCName }?,
    (text | choice | g | gap | lb | seg | space | unclear)+
  }
num =
  element num {
    attribute atLeast { xsd:integer }?,
    attribute atMost { xsd:integer }?,
    attribute cert { xsd:NCName }?,
    attribute value { text }?,
    (text
     | add
     | app
     | choice
     | g
     | gap
     | lb
     | num
     | supplied
     | unclear)+
  }
corr = element corr { (text | g | hi | num | supplied | unclear)+ }
roleName =
  element roleName {
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    (text
     | choice
     | gap
     | hi
     | lb
     | milestone
     | placeName
     | supplied
     | surplus
     | unclear)+
  }
name = element name { text }
measure =
  element measure {
    attribute commodity { xsd:NCName }?,
    attribute quantity { xsd:integer },
    attribute type { xsd:NCName },
    (text | gap | lb | num | supplied)+
  }
\list =
  element list {
    attribute rend { xsd:NCName }?,
    (label
     | element item {
         attribute n { xsd:NCName }?,
         (text
          | abbr
          | add
          | bibl
          | choice
          | foreign
          | g
          | gap
          | lb
          | \list
          | note
          | orig
          | p
          | pb
          | q
          | ref
          | seg
          | space
          | subst
          | supplied
          | surplus
          | title
          | unclear)+
       })+
  }
subst = element subst { del, add }
add =
  element add {
    attribute place { text },
    attribute rend { xsd:NCName }?,
    (text
     | abbr
     | add
     | choice
     | del
     | foreign
     | g
     | gap
     | hi
     | lb
     | num
     | placeName
     | space
     | supplied
     | surplus
     | unclear)+
  }
handShift =
  element handShift {
    attribute new { text }
  }
app =
  element app {
    attribute loc { text }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    element lem {
      attribute rend { xsd:NCName }?,
      attribute resp { xsd:NCName }?,
      attribute source { text }?,
      attribute type { xsd:NCName }?,
      attribute wit { text }?,
      attribute xml:id { xsd:NCName }?,
      (text
       | abbr
       | add
       | app
       | choice
       | del
       | expan
       | foreign
       | fw
       | g
       | gap
       | hi
       | l
       | lb
       | lg
       | milestone
       | num
       | orig
       | p
       | pb
       | persName
       | seg
       | sic
       | space
       | subst
       | supplied
       | surplus
       | term
       | unclear)+
    }*,
    (note
     | element rdg {
         attribute cause { xsd:NCName }?,
         attribute corresp { xsd:NCName }?,
         attribute rend { xsd:NCName }?,
         attribute source { xsd:anyURI }?,
         attribute type { xsd:NCName }?,
         attribute varSeq { xsd:integer }?,
         attribute wit { text }?,
         (text
          | abbr
          | add
          | bibl
          | choice
          | corr
          | del
          | expan
          | foreign
          | fw
          | g
          | gap
          | hi
          | lb
          | milestone
          | num
          | orig
          | pb
          | reg
          | seg
          | sic
          | space
          | subst
          | supplied
          | surplus
          | unclear
          | element lacunaEnd { empty }
          | element lacunaStart { empty }
          | element locus {
              attribute from { xsd:NMTOKEN },
              attribute to { xsd:NMTOKEN },
              attribute type { xsd:NCName }
            }
          | element span {
              attribute type { xsd:NCName }
            })+
       }
     | element witDetail {
         attribute type { xsd:NCName },
         attribute wit { text }
       })*
  }
gap =
  element gap {
    attribute extent { xsd:NCName }?,
    attribute precision { xsd:NCName }?,
    attribute quantity { xsd:integer }?,
    attribute reason { xsd:NCName }?,
    attribute unit { xsd:NCName }?,
    (certainty | desc)?
  }
surname = element surname { text }
fw =
  element fw {
    attribute n { xsd:NMTOKEN },
    attribute place { xsd:NCName },
    attribute rend { xsd:NCName }?,
    (text | num | supplied | unclear)+
  }
expan =
  element expan {
    abbr,
    element ex { xsd:NCName }
  }
sic =
  element sic {
    (text
     | add
     | app
     | choice
     | corr
     | foreign
     | g
     | hi
     | lb
     | num
     | orig
     | pb
     | seg
     | space
     | subst
     | supplied
     | surplus
     | unclear)+
  }
cit = element cit { q | (bibl | quote)+ }
damage = element damage { (text | supplied | unclear)+ }
placeName =
  element placeName {
    attribute key { text }?,
    attribute next { text }?,
    attribute prev { text }?,
    attribute ref { xsd:NMTOKEN }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    (text
     | add
     | choice
     | gap
     | hi
     | lb
     | milestone
     | seg
     | space
     | supplied
     | surplus
     | unclear)+
  }
lg =
  element lg {
    attribute corresp { text }?,
    attribute met { text }?,
    attribute n { xsd:integer }?,
    attribute part { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (app | certainty)?,
    (l | label | lb | lg | milestone | note | pb | space)+
  }
listApp =
  element listApp {
    attribute type { xsd:NCName }?,
    (app | listApp)+
  }
orig =
  element orig {
    (text
     | add
     | choice
     | corr
     | g
     | hi
     | lb
     | reg
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | unclear)+
  }
milestone =
  element milestone {
    attribute break { xsd:NCName }?,
    attribute n { text },
    attribute type { xsd:NCName }?,
    attribute unit { xsd:NCName }
  }
q =
  element q {
    attribute xml:lang { xsd:NCName }?,
    (text
     | bibl
     | foreign
     | g
     | gap
     | hi
     | lg
     | \list
     | note
     | q
     | ref
     | seg
     | sic
     | space
     | supplied
     | title
     | unclear)+
  }
pb =
  element pb {
    attribute break { xsd:NCName }?,
    attribute edRef { text }?,
    attribute n { text }?,
    attribute xml:id { xsd:NCName }?
  }
l =
  element l {
    attribute enjamb { xsd:NCName }?,
    attribute met { text }?,
    attribute n { xsd:NMTOKEN }?,
    attribute part { xsd:NCName }?,
    attribute real { text }?,
    (text
     | add
     | app
     | choice
     | corr
     | del
     | foreign
     | g
     | gap
     | handShift
     | hi
     | label
     | lb
     | milestone
     | note
     | num
     | orig
     | pb
     | persName
     | placeName
     | roleName
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | unclear)+
  }
certainty =
  element certainty {
    attribute locus { xsd:NCName },
    attribute match { text }
  }
label =
  element label {
    attribute xml:lang { xsd:NCName }?,
    (text | foreign | supplied)+
  }
surplus =
  element surplus {
    (text
     | abbr
     | add
     | choice
     | g
     | gap
     | hi
     | lb
     | num
     | space
     | term
     | unclear)+
  }
g =
  element g {
    attribute subtype { xsd:NCName }?,
    attribute type { text }?,
    text
  }
forename = element forename { text }
