global.rnc

default namespace = "http://www.tei-c.org/ns/1.0"

start =
  element TEI {
    attribute corresp { text }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    attribute xml:space { xsd:NCName }?,
    element teiHeader {
      attribute xml:lang { xsd:NCName }?,
      element fileDesc {
        titleStmt,
        editionStmt?,
        publicationStmt,
        element sourceDesc {
          element biblFull {
            titleStmt, editionStmt?, publicationStmt
          }?,
          (bibl | msDesc | p)?,
          listWit?,
          listBibl?
        }
      },
      element encodingDesc {
        element projectDesc { p+ },
        element editorialDecl {
          element correction { p },
          element normalization { p+ },
          element punctuation { p },
          element interpretation { p }?
        }?,
        element samplingDecl { p }?,
        element schemaRef {
          attribute key { xsd:NCName },
          attribute type { xsd:NCName },
          attribute url { xsd:anyURI }
        }?,
        element variantEncoding {
          attribute location { xsd:NCName },
          attribute method { xsd:NCName }
        }?,
        element listPrefixDef {
          element prefixDef {
            attribute ident { xsd:NCName },
            attribute matchPattern { text },
            attribute replacementPattern { xsd:anyURI },
            p
          }+
        }?,
        (element charDecl {
           element glyph {
             attribute xml:id { xsd:NCName },
             element mapping {
               attribute type { xsd:NCName },
               text
             }?
           }+
         }
         | element tagsDecl {
             attribute partial { xsd:boolean },
             element rendition {
               attribute scheme { xsd:NCName },
               attribute xml:id { xsd:NCName },
               text
             }+
           })?
      }*,
      element profileDesc {
        element langUsage {
          element language {
            attribute ident { xsd:NCName },
            text
          }+
        },
        element textClass {
          element keywords { term }
        }?
      }?,
      element revisionDesc {
        element listChange { change }
        | change+
      }?
    },
    element facsimile {
      element graphic {
        attribute n { xsd:integer }?,
        attribute url { xsd:anyURI },
        attribute xml:id { xsd:NCName }?,
        desc?
      }+
    }?,
    element text {
      attribute xml:lang { text }?,
      attribute xml:space { xsd:NCName }?,
      element body {
        attribute n { xsd:anyURI }?,
        (listBibl | \div+ | ab+ | p+)
      }
    }
  }
titleStmt =
  element titleStmt {
    (text
     | author
     | editor
     | respStmt
     | title
     | element funder { text }
     | element principal { persName })+
  }
editionStmt =
  element editionStmt {
    p
    | (element edition { text },
       respStmt+)
  }
publicationStmt =
  element publicationStmt {
    element authority { (text | note)+ }?,
    (date
     | idno
     | pubPlace
     | publisher
     | element availability {
         element licence {
           attribute target { xsd:anyURI },
           p+
         }
       })*
  }
msDesc =
  element msDesc {
    element msIdentifier {
      element country { xsd:NCName }?,
      settlement?,
      institution?,
      repository?,
      element collection { text }?,
      idno*,
      element altIdentifier {
        attribute type { xsd:NCName },
        institution?,
        settlement?,
        repository?,
        idno,
        note?
      }*
    },
    element msContents {
      summary?,
      element msItem {
        attribute n { xsd:integer }?,
        (author | locus)?,
        title?,
        (p
         | element colophon { quote*, note? })?
      }*
    }?,
    element physDesc {
      (ab
       | element objectDesc {
           attribute form { xsd:NCName }?,
           (p+
            | (element supportDesc {
                 attribute material { xsd:NCName }?,
                 element support {
                   (text | dimensions | material | objectType | p)+
                 },
                 element extent { (text | dimensions)+ }?
               },
               element layoutDesc {
                 element layout { (text | foreign | g | p)+ }
               }))
         }
       | p*),
      element handDesc {
        (ab | summary)?,
        (p*
         | element handNote {
             attribute scriptRef { text }?,
             attribute xml:id { xsd:NCName }?,
             (text | abbr | foreign | height | p | supplied)+
           }*)
      }?,
      (element bindingDesc {
         element binding { p }
       }
       | element decoDesc {
           element decoNote { text }
         }
       | element scriptDesc { p })?
    }?,
    element history {
      (p
       | (element origin {
            element origPlace { text }?,
            element origDate {
              attribute notAfter { xsd:integer }?,
              attribute notBefore { xsd:integer }?,
              text
            }?
          },
          element provenance {
            attribute type { xsd:NCName },
            (text | date | p)+
          }+))?
    }?
  }
bibl =
  element bibl {
    attribute n { text }?,
    attribute rend { xsd:NCName }?,
    (text
     | author
     | bibl
     | date
     | foreign
     | hi
     | note
     | ptr
     | pubPlace
     | publisher
     | ref
     | seg
     | title
     | element biblScope { text }
     | element citedRange {
         attribute unit { xsd:NCName }?,
         (text | foreign | supplied)+
       })+
  }
p =
  element p {
    attribute corresp { text }?,
    attribute n { text }?,
    attribute part { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | abbr
     | add
     | app
     | bibl
     | certainty
     | choice
     | cit
     | corr
     | damage
     | date
     | del
     | dimensions
     | foreign
     | fw
     | g
     | gap
     | handShift
     | hi
     | l
     | label
     | lb
     | lg
     | \list
     | listApp
     | material
     | measure
     | milestone
     | name
     | note
     | num
     | objectType
     | orig
     | pb
     | persName
     | placeName
     | ptr
     | q
     | quote
     | ref
     | reg
     | roleName
     | rs
     | s
     | seg
     | sic
     | space
     | subst
     | supplied
     | surname
     | surplus
     | term
     | title
     | unclear
     | element code { xsd:NCName }
     | element gi { xsd:NCName }
     | element stage {
         attribute rend { xsd:NCName },
         xsd:NCName
       }
     | element unit { xsd:NCName })+
  }
listWit =
  element listWit {
    element witness {
      attribute xml:id { xsd:NCName },
      (text | abbr | bibl | listBibl | listWit | msDesc)+
    }+
  }
listBibl =
  element listBibl {
    attribute type { xsd:NCName }?,
    ((bibl | listBibl)*
     | element biblStruct {
         attribute corresp { xsd:anyURI }?,
         attribute type { xsd:NCName }?,
         attribute xml:id { xsd:NCName }?,
         element monogr {
           (author | editor | title)+,
           element imprint { (date | pubPlace | publisher)+ }
         }
       }*)
  }
term =
  element term {
    attribute xml:lang { text }?,
    (text
     | add
     | app
     | gap
     | milestone
     | pb
     | sic
     | space
     | supplied
     | unclear)+
  }
change =
  element change {
    attribute status { xsd:NCName }?,
    attribute when { xsd:NMTOKEN },
    attribute who { xsd:anyURI },
    text
  }
desc = element desc { (text | bibl | foreign | ptr)+ }
\div =
  element div {
    attribute corresp { text }?,
    attribute met { text }?,
    attribute n { text }?,
    attribute rend { xsd:NCName }?,
    attribute rendition { text }?,
    attribute resp { xsd:anyURI }?,
    attribute source { xsd:anyURI }?,
    attribute subtype { xsd:NCName }?,
    attribute type { text }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { text }?,
    attribute xml:space { xsd:NCName }?,
    (text
     | ab
     | app
     | bibl
     | \div
     | fw
     | gap
     | l
     | label
     | lb
     | lg
     | \list
     | listApp
     | listBibl
     | milestone
     | note
     | p
     | pb
     | quote
     | space
     | element head {
         attribute type { xsd:NCName }?,
         attribute xml:lang { xsd:NCName }?,
         (text
          | choice
          | foreign
          | hi
          | lb
          | note
          | num
          | pb
          | unclear)+
       }
     | element table {
         element row {
           element cell {
             attribute rows { xsd:integer }?,
             (text | hi | lb | lg | note | p | pb | s | unclear)+
           }+
         }+
       })+
  }
ab =
  element ab {
    attribute n { text }?,
    attribute part { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { text }?,
    (text
     | abbr
     | add
     | app
     | choice
     | damage
     | del
     | foreign
     | fw
     | g
     | gap
     | handShift
     | hi
     | label
     | lb
     | lg
     | \list
     | milestone
     | note
     | num
     | orig
     | pb
     | persName
     | placeName
     | q
     | reg
     | roleName
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | unclear
     | element expan {
         abbr,
         element ex { xsd:NCName }
       })+
  }
title =
  element title {
    attribute level { xsd:NCName }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text | abbr | foreign | gap | hi | note | supplied)+
  }
author = element author { (text | forename | name | surname)+ }
editor =
  element editor {
    attribute ref { xsd:NMTOKEN }?,
    attribute role { xsd:NCName }?,
    (text | forename | name | persName | surname)+
  }
persName =
  element persName {
    attribute key { xsd:NCName }?,
    attribute ref { xsd:anyURI }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    (text
     | choice
     | foreign
     | forename
     | gap
     | hi
     | lb
     | name
     | persName
     | placeName
     | roleName
     | supplied
     | surname
     | surplus
     | unclear)+
  }
respStmt =
  element respStmt {
    name?,
    (persName
     | element resp { text })+
  }
note =
  element note {
    attribute copyOf { xsd:anyURI }?,
    attribute corresp { xsd:anyURI }?,
    attribute n { xsd:integer }?,
    attribute rend { xsd:NCName }?,
    attribute resp { xsd:anyURI }?,
    attribute sameAs { xsd:anyURI }?,
    attribute source { xsd:anyURI }?,
    attribute target { text }?,
    attribute type { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | abbr
     | add
     | bibl
     | choice
     | cit
     | foreign
     | g
     | gap
     | hi
     | lb
     | lg
     | \list
     | milestone
     | note
     | num
     | p
     | placeName
     | ptr
     | q
     | quote
     | ref
     | seg
     | sic
     | space
     | supplied
     | surplus
     | title
     | unclear)+
  }
publisher = element publisher { text }
idno =
  element idno {
    attribute type { xsd:NCName }?,
    text
  }
date =
  element date {
    attribute calendar { xsd:NMTOKEN }?,
    attribute datingMethod { xsd:NMTOKEN }?,
    attribute from { xsd:integer }?,
    attribute notAfter-custom { xsd:integer }?,
    attribute notBefore-custom { xsd:integer }?,
    attribute to { xsd:integer }?,
    attribute when { xsd:NMTOKEN }?,
    attribute when-custom { xsd:integer }?,
    (text | abbr | choice | lb | num | rs | surplus)+
  }
pubPlace = element pubPlace { text }
settlement = element settlement { text }
institution = element institution { text }
repository = element repository { text }
summary =
  element summary { (text | foreign | gap | hi | p | ref | supplied)+ }
locus =
  element locus {
    attribute from { xsd:NMTOKEN }?,
    attribute to { xsd:NMTOKEN }?,
    attribute type { xsd:NCName }?,
    text
  }
quote =
  element quote {
    attribute corresp { xsd:NMTOKEN }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | ab
     | bibl
     | choice
     | del
     | foreign
     | g
     | gap
     | hi
     | l
     | label
     | lg
     | \list
     | listApp
     | note
     | p
     | ref
     | space
     | supplied
     | term
     | title
     | unclear)+
  }
objectType = element objectType { text }
dimensions =
  element dimensions {
    attribute scope { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute unit { xsd:NCName }?,
    (height
     | element width {
         attribute unit { xsd:NCName }?,
         xsd:NMTOKEN
       })*,
    element depth {
      attribute unit { xsd:NCName },
      xsd:integer
    }?
  }
material = element material { text }
foreign =
  element foreign {
    attribute type { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | abbr
     | add
     | app
     | choice
     | del
     | foreign
     | fw
     | g
     | gap
     | hi
     | lb
     | milestone
     | name
     | note
     | num
     | orig
     | pb
     | ptr
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | term
     | unclear)+
  }
g =
  element g {
    attribute ref { text }?,
    attribute subtype { xsd:NCName }?,
    attribute type { text }?,
    text
  }
abbr =
  element abbr {
    attribute type { xsd:NCName }?,
    (text
     | choice
     | foreign
     | hi
     | lb
     | reg
     | sic
     | space
     | supplied
     | surplus
     | unclear)+
  }
height =
  element height {
    attribute unit { xsd:NCName }?,
    xsd:NMTOKEN
  }
supplied =
  element supplied {
    attribute cert { xsd:NCName }?,
    attribute evidence { xsd:NCName }?,
    attribute reason { xsd:NCName }?,
    attribute resp { xsd:NMTOKEN }?,
    (text
     | abbr
     | add
     | bibl
     | choice
     | corr
     | damage
     | del
     | foreign
     | g
     | gap
     | hi
     | lb
     | lg
     | listApp
     | milestone
     | note
     | num
     | persName
     | placeName
     | q
     | quote
     | ref
     | roleName
     | seg
     | sic
     | space
     | supplied
     | term
     | title
     | unclear)+
  }
seg =
  element seg {
    attribute cert { xsd:NCName }?,
    attribute met { text }?,
    attribute rend { xsd:NCName }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (text
     | bibl
     | choice
     | del
     | foreign
     | g
     | gap
     | hi
     | lb
     | lg
     | measure
     | milestone
     | note
     | placeName
     | ref
     | seg
     | space
     | supplied
     | unclear)+
  }
ref =
  element ref {
    attribute n { xsd:NCName }?,
    attribute target { xsd:anyURI }?,
    attribute type { xsd:NCName }?,
    (text | ptr | seg | title)+
  }
ptr =
  element ptr {
    attribute rend { xsd:NCName }?,
    attribute target { text }?,
    text
  }
hi =
  element hi {
    attribute rend { xsd:NCName },
    attribute type { xsd:NCName }?,
    (text
     | add
     | choice
     | foreign
     | g
     | gap
     | hi
     | lb
     | milestone
     | note
     | orig
     | pb
     | seg
     | space
     | supplied
     | surplus
     | unclear)+
  }
reg = element reg { (text | abbr | g | hi | lb | supplied | unclear)+ }
space =
  element space {
    attribute extent { xsd:NCName }?,
    attribute quantity { xsd:integer }?,
    attribute type { xsd:NCName }?,
    attribute unit { xsd:NCName }?
  }
del =
  element del {
    attribute rend { xsd:NCName }?,
    (text
     | add
     | choice
     | damage
     | del
     | g
     | gap
     | hi
     | lb
     | note
     | seg
     | space
     | subst
     | unclear)+
  }
num =
  element num {
    attribute atLeast { xsd:integer }?,
    attribute atMost { xsd:integer }?,
    attribute cert { xsd:NCName }?,
    attribute value { text }?,
    (text
     | add
     | app
     | choice
     | g
     | gap
     | lb
     | num
     | subst
     | supplied
     | unclear)+
  }
corr =
  element corr { (text | corr | g | hi | num | supplied | unclear)+ }
roleName =
  element roleName {
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    (text
     | choice
     | gap
     | hi
     | lb
     | milestone
     | name
     | placeName
     | space
     | supplied
     | surplus
     | unclear)+
  }
name = element name { (text | add | choice | lb | unclear)+ }
measure =
  element measure {
    attribute commodity { xsd:NCName }?,
    attribute quantity { xsd:integer },
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName },
    (text | g | gap | lb | num | supplied)+
  }
\list =
  element list {
    attribute rend { xsd:NCName }?,
    (label
     | element item {
         attribute n { xsd:NCName }?,
         (text
          | abbr
          | add
          | bibl
          | choice
          | foreign
          | g
          | gap
          | hi
          | lb
          | \list
          | note
          | orig
          | p
          | pb
          | q
          | ref
          | seg
          | space
          | subst
          | supplied
          | surplus
          | title
          | unclear)+
       })+
  }
subst = element subst { del, add }
add =
  element add {
    attribute place { text }?,
    attribute rend { xsd:NCName }?,
    attribute resp { xsd:NMTOKEN }?,
    (text
     | abbr
     | add
     | choice
     | del
     | foreign
     | g
     | gap
     | hi
     | lb
     | num
     | persName
     | placeName
     | space
     | supplied
     | surplus
     | unclear)+
  }
handShift =
  element handShift {
    attribute new { text }
  }
app =
  element app {
    attribute loc { text }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    (text
     | note
     | element lem {
         attribute cert { xsd:NCName }?,
         attribute hand { text }?,
         attribute rend { xsd:NCName }?,
         attribute resp { xsd:NMTOKEN }?,
         attribute source { text }?,
         attribute type { xsd:NCName }?,
         attribute wit { text }?,
         (text
          | abbr
          | add
          | app
          | choice
          | corr
          | del
          | foreign
          | fw
          | g
          | gap
          | hi
          | l
          | lb
          | lg
          | milestone
          | name
          | note
          | num
          | orig
          | p
          | pb
          | persName
          | q
          | seg
          | sic
          | space
          | subst
          | supplied
          | surplus
          | term
          | unclear)+
       }
     | element rdg {
         attribute cause { xsd:NCName }?,
         attribute hand { text }?,
         attribute rend { xsd:NCName }?,
         attribute resp { xsd:NMTOKEN }?,
         attribute source { xsd:anyURI }?,
         attribute type { xsd:NCName }?,
         attribute varSeq { xsd:integer }?,
         attribute wit { text }?,
         attribute xml:id { xsd:NCName }?,
         (text
          | abbr
          | add
          | bibl
          | choice
          | corr
          | damage
          | del
          | foreign
          | fw
          | g
          | gap
          | hi
          | lb
          | locus
          | milestone
          | name
          | note
          | num
          | orig
          | pb
          | reg
          | seg
          | sic
          | space
          | subst
          | supplied
          | surplus
          | unclear
          | element lacunaEnd { empty }
          | element lacunaStart { empty }
          | element span {
              attribute type { xsd:NCName }
            })+
       }
     | element witDetail {
         attribute type { xsd:NCName },
         attribute wit { text }
       })+
  }
gap =
  element gap {
    attribute extent { xsd:NMTOKEN }?,
    attribute precision { xsd:NCName }?,
    attribute quantity { text }?,
    attribute reason { text }?,
    attribute unit { xsd:NCName }?,
    (certainty | desc)?
  }
surname = element surname { text }
fw =
  element fw {
    attribute n { xsd:NMTOKEN }?,
    attribute place { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    (text | g | gap | num | supplied)+
  }
sic =
  element sic {
    (text
     | add
     | app
     | choice
     | corr
     | foreign
     | g
     | hi
     | lb
     | note
     | num
     | orig
     | pb
     | seg
     | space
     | subst
     | supplied
     | surplus
     | unclear)+
  }
cit = element cit { q | (bibl | quote)+ }
unclear =
  element unclear {
    attribute cert { xsd:NCName }?,
    attribute reason { text }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    (text | add | app | g | gap | hi | note | pb | q | seg | unclear)+
  }
rs =
  element rs {
    attribute ana { xsd:NCName }?,
    attribute key { xsd:NCName }?,
    attribute n { xsd:integer }?,
    attribute nymRef { xsd:NCName }?,
    attribute ref { xsd:NMTOKEN }?,
    attribute role { xsd:NCName }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    (text
     | choice
     | lb
     | persName
     | roleName
     | rs
     | supplied
     | surplus
     | unclear)+
  }
damage = element damage { (text | supplied | unclear)+ }
placeName =
  element placeName {
    attribute key { text }?,
    attribute next { text }?,
    attribute prev { text }?,
    attribute ref { xsd:NMTOKEN }?,
    attribute subtype { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    (text
     | add
     | choice
     | gap
     | hi
     | lb
     | milestone
     | name
     | seg
     | space
     | supplied
     | surplus
     | unclear)+
  }
choice = element choice { (corr | orig | reg | sic | unclear)+ }
lg =
  element lg {
    attribute corresp { text }?,
    attribute met { text }?,
    attribute n { xsd:decimal }?,
    attribute part { xsd:NCName }?,
    attribute rend { xsd:NCName }?,
    attribute type { xsd:NCName }?,
    attribute xml:id { xsd:NCName }?,
    attribute xml:lang { xsd:NCName }?,
    (app | certainty)?,
    (fw | l | label | lb | lg | milestone | note | pb | space)*
  }
listApp =
  element listApp {
    attribute corresp { text }?,
    attribute type { xsd:NCName }?,
    (app | listApp)+
  }
orig =
  element orig {
    (text
     | add
     | choice
     | corr
     | g
     | hi
     | lb
     | reg
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | unclear)+
  }
milestone =
  element milestone {
    attribute break { xsd:NCName }?,
    attribute n { xsd:NMTOKEN },
    attribute type { xsd:NCName }?,
    attribute unit { xsd:NCName },
    attribute xml:id { xsd:NCName }?
  }
lb =
  element lb {
    attribute break { xsd:NCName }?,
    attribute edRef { text }?,
    attribute n { text }?,
    attribute rend { xsd:NCName }?,
    attribute style { text }?
  }
q =
  element q {
    attribute xml:lang { xsd:NCName }?,
    (text
     | app
     | bibl
     | foreign
     | g
     | gap
     | hi
     | lg
     | \list
     | note
     | pb
     | q
     | ref
     | seg
     | sic
     | space
     | supplied
     | title
     | unclear)+
  }
s = element s { (text | choice | hi | lb | unclear)+ }
pb =
  element pb {
    attribute break { xsd:NCName }?,
    attribute edRef { text }?,
    attribute n { text }?,
    attribute xml:id { xsd:NCName }?
  }
l =
  element l {
    attribute enjamb { xsd:NCName }?,
    attribute met { text }?,
    attribute n { text }?,
    attribute part { xsd:NCName }?,
    attribute real { text }?,
    (text
     | add
     | app
     | choice
     | corr
     | del
     | foreign
     | fw
     | g
     | gap
     | handShift
     | hi
     | label
     | lb
     | milestone
     | note
     | num
     | orig
     | pb
     | persName
     | placeName
     | roleName
     | rs
     | s
     | seg
     | sic
     | space
     | subst
     | supplied
     | surplus
     | unclear
     | element w {
         attribute part { xsd:NCName },
         xsd:NCName
       })+
  }
certainty =
  element certainty {
    attribute locus { xsd:NCName },
    attribute match { text }
  }
label =
  element label {
    attribute xml:lang { xsd:NCName }?,
    (text | foreign | supplied)+
  }
surplus =
  element surplus {
    (text
     | abbr
     | add
     | choice
     | foreign
     | g
     | gap
     | hi
     | lb
     | num
     | space
     | supplied
     | term
     | unclear)+
  }
forename = element forename { text }
