internal.rnc

default namespace = ""

block = para | \list | dlist | verse | quote

inline = text | span | link | note | npage | nline | ncell

start =
  element document {
    element title { inline+ }*,
    element author { name, identifier? }*,
    element editor { name, identifier? }*,
    element summary { block+ }?,
    element hand { block+ }?,
    element edition-languages {
      element language { name, identifier }+
    },
    element edition {
      head,
      element physical { (\div | page)+ }, # XXX should have (block+ | \div+): cover everything with div if needed (as for milestones)
      element logical { (\div | block)+ },
      element full { (\div | block)+ }
    }?,
    element apparatus { head, (\div+ | para+) }?,
    element translation {
      head,
      (\div | block)+
    }*,
    element commentary {
      head,
      (\div | block)+
    }?,
    element bibliography {
      head,
      (\div | block)+
    }?
  }
note =
  element note {
    attribute n { xsd:integer },
    block+
  }
span =
  element span {
    attribute class { text }?,
    attribute standalone { xsd:boolean }?,
    attribute style { xsd:anyURI }?,
    attribute tip { text }?,
    (text | link | ncell | nline | note | npage | span | verse)+
  }
name = element name { text }
identifier = element identifier { text }
para =
  element para {
    attribute anchor { text }?,
    attribute class { text }?,
    (text
     | link
     | ncell
     | nline
     | note
     | npage
     | para
     | span
     | verse
     | verse-line)+
  }
\list =
  element list {
    attribute type { text },
    element item {
      (text
       | link
       | \list
       | ncell
       | nline
       | note
       | npage
       | para
       | span)+
    }+
  }
head = element head { inline+ }
\div =
  element div {
    (\div | dlist | head | \list | para | quote | verse)*, page*
  }
page =
  element page {
    head?,
    element line { inline+ }+
  }
verse =
  element verse {
    element verse-head { inline+ }?,
    (ncell | nline | npage | span | verse-line)*,
    note?
  }
nline =
  element nline {
    attribute break { xsd:boolean }?,
    attribute phantom { xsd:boolean }?,
    span?
  }
link =
  element link {
    attribute href { text }?,
    (text | span)+
  }
npage =
  element npage {
    attribute break { xsd:boolean },
    attribute phantom { xsd:boolean }?,
    span*
  }
dlist =
  element dlist {
    (element key { inline+ }
     | element value { (text | dlist | note | span)+ })+
  }
quote = element quote { inline+ }
ncell =
  element ncell {
    attribute break { xsd:boolean }?,
    attribute phantom { xsd:boolean }?,
    span?
  }
verse-line =
  element verse-line {
    attribute break { xsd:boolean }?,
    attribute n { text }?,
    attribute tip { text }?,
    (text | link | \list | ncell | nline | note | npage | span)+
  }
