internal.rnc

default namespace = ""

block = para | \list | dlist | verse | quote

inline = text | span | link | note | milestone

start =
  element document {
    element title { inline+ }*,
    element author { name, identifier? }*,
    element editor { name, identifier? }*,
    element summary { block+ }?,
    element hand { block+ }?,
    element edition-languages {
      element language { name, identifier }+
    },
    element edition {
      head,
      element physical { (\div | page)+ }, # XXX should have (block+ | \div+): cover everything with div if needed (as for milestones), with "phantom" divisions. if we do this, a div should not have a mandatory <head>
      element logical { (\div | block)+ },
      element full { (\div | block)+ }
    }?,
    element apparatus { head, (\div+ | para+) }?,
    element translation {
      head,
      (\div | block)+
    }*,
    element commentary {
      head,
      (\div | block)+
    }?,
    element bibliography {
      head,
      (\div | block)+
    }?
  }
note =
  element note {
    # Notes numbers must be unique, except within the edition division. Because
    # in the latter, we generate three representations: physical, logical, full;
    # thus there are 3 copies of each note.
    attribute n { xsd:integer },
    block+
  }
span =
  element span {
    attribute class { text }?,
    # standalone is for spans corresponding to one of sic corr orig reg; if
    # standalone=false, the element is paired with another (sic/corr orig/reg),
    # otherwise the element appears on its own, it is not on its own.
    # XXX should get rid of standalone.
    # we should just have sic corr orig reg elements in the internal format, and
    # then the patch utility would pair back stuff. but then we can't
    # distinguish between a sic followed by a corr and a pair sic/corr, so this
    # should be annotated early.
    attribute standalone { xsd:boolean }?,
    attribute tip { text }?,
    (text | link | ncell | nline | note | npage | span | verse)+
  }
name = element name { text }
identifier = element identifier { text }
para =
  element para {
    attribute anchor { text }?,
    attribute class { text }?,
    (text
     | link
     | ncell
     | nline
     | note
     | npage
     | para
     | span
     | verse
     | verse-line)+
  }
\list =
  element list {
    attribute type { text },
    element item {
      (text
       | link
       | \list
       | ncell
       | nline
       | note
       | npage
       | para
       | span)+
    }+
  }
dlist =
  element dlist {
    (element key { inline+ }
     | element value { (text | dlist | note | span)+ })+
  }
quote = element quote { inline+ }
head = element head { inline+ }
\div =
  element div {
    (\div | dlist | head | \list | para | quote | verse)*, page*
  }
page =
  element page {
    head?,
    element line { inline+ }+
  }
verse =
  element verse {
    element verse-head { inline+ }?,
    (ncell | nline | npage | span | verse-line)*,
    note?
  }
link =
  element link {
    # @href is absent if the link is invalid.
    attribute href { xsd:anyURI }?,
    (text | span)+
  }

milestone = npage | nline | ncell

# XXX we should have either no span or just one
npage =
  element npage {
    attribute break { xsd:boolean },
    attribute phantom { xsd:boolean },
    span*
  }
nline =
  element nline {
    attribute break { xsd:boolean }?,
    attribute phantom { xsd:boolean },
    span?
  }
ncell =
  element ncell {
    attribute break { xsd:boolean }?,
    attribute phantom { xsd:boolean },
    span?
  }
verse-line =
  element verse-line {
    attribute break { xsd:boolean }?,
    attribute n { text }?,
    attribute tip { text }?,
    (text | link | \list | ncell | nline | note | npage | span)+
  }
