stuff/arie/schema.rnc

default namespace = ""

start =
  element root {
    element doc {
      element H1 {
        (text
         | lb
         | element arie {
             attribute n { xsd:integer },
             attribute ref { xsd:NCName }
           })+
      },
      (H
       | note
       | element H2 { (text | i | lb | note | pb | supplied)+ }
       | element H3 { (text | i | supplied)+ }
       | element H4 { (text | i)+ }
       | element INSCRIPTION {
           element S { (text | i | note | pb | supplied)+ },
           element MM { (text | lb)+ }?,
           (element MST { (text | lb)+ },
            element MSL { text },
            element MSE { text })?,
           (note | H*),
           (element D {
              (text | apb | b | i | lb | pb | supplied | tamil)+
            }
            | element K { (text | apb | i | lb)+ }
            | element L { (text | apb | i | lb | pb)+ }
            | element P { (text | apb | b | i | lb)+ }
            | element RY { text }
            | element SY { text }
            | element Y { (text | apb | i | lb)+ })*,
           element O { (text | lb)+ }*,
           element E { (text | i | lb)+ }?,
           (element JY { text }
            | element R {
                (text
                 | apb
                 | b
                 | i
                 | lb
                 | pb
                 | supplied
                 | tamil
                 | element p { (text | i | lb | pb)+ })+
              }*)
         })+
    }+
  }
lb =
  element lb {
    attribute break { xsd:NCName }?
  }
note =
  element note {
    attribute n { text }?,
    (text | i | lb)+
  }
pb =
  element pb {
    attribute n { xsd:NMTOKEN }?
  }
supplied =
  element supplied {
    attribute reason { xsd:NCName }?,
    text
  }
i = element i { (text | apb | lb | note | tamil)+ }
H =
  element H {
    attribute type { xsd:NCName },
    (text | lb | pb)+
  }
b = element b { (text | lb | note)+ }
apb = element apb { empty }
tamil = element tamil { (text | lb)+ }
